.header-container.type12{position:absolute;left:0;top:0;z-index:999;width:256px;min-height:100vh;background-color:#383734;text-align:center;border:0;padding:10px}
.cms-index-index .header-container.type12{background-color:rgba(0,0,0,0.4)}
.header-container.type12.fixed-bottom{position:fixed;top:auto;bottom:0}
.header-container.type12 .switcher-area{text-align:center;position:relative;z-index:3}
body.side-header .top-container,body.side-header .main-container,body.side-header .footer-container{margin-left:256px}
.header-container.type12 .form-currency,.header-container.type12 .form-language{display:inline-block;vertical-align:middle;float:none;margin-right:4px;margin-bottom:7px}
.header-container.type12 .selectbox .select{border-color:#101010;background-color:#101010;color:#fff;text-align:center}
.header-container.type12 .selectbox .dropdown{border:0}
.header-container.type12 .mini-cart{position:relative;top:0;right:0;display:inline-block;vertical-align:middle;margin:0;width:auto;margin-bottom:7px}
.header-container.type12 .mini-cart .mybag-link{height:26px;padding:4px 7px;background-color:#010101;border-radius:2px}
.header-container.type12 .mini-cart .mybag-link i{font-size:14px}
.header-container.type12 .mini-cart .mybag-link .cart-info{padding:1px 3px}
.header-container.type12 .mini-cart .mybag-link span{display:inline-block;vertical-align:middle;font-size:11px;line-height:14px;font-weight:400}
.header-container.type12 .mini-cart .mybag-link .cart-qty{margin-right:3px}
.header-container.type12 .mini-cart .topCartContent{top:26px;left:0}
.header-container.type12 .mini-cart .topCartContent:before{left:15px;right:auto}
.header-container.type12 .compare-link{position:relative;top:0;right:0;display:inline-block;vertical-align:middle;margin:0;margin-right:4px;margin-bottom:7px;width:auto}
.header-container.type12 .compare-link > a{height:26px;padding:4px 7px;background-color:#010101;border-radius:2px;line-height:18px;display:inline-block;color:#fff;text-transform:uppercase;text-align:center;font-size:11px}
.header-container.type12 .header{text-align:center;position:static;min-height:100%;padding-bottom:145px}
.header-container.type12 .header>.logo{margin:30px 0;max-width:none}
.header-container.type12 .search-area{position:relative;margin:0;top:0;left:0;padding:0 7px;margin-bottom:20px;width:100%}
.header-container.type12 .search-area a.search-icon{display:none}
.header-container.type12 .header #search_mini_form{margin:0;width:100%}
.header-container.type12 .header .form-search{border-radius:5px;width:auto;min-width:initial;padding-right:140px}
.header-container.type12 .header .form-search #cat{width:100px}
.header-container.type12 .menu.side-menu{text-align:left;margin:0 7px 20px}
.header-container.type12 .menu.side-menu>li>a{margin:0;color:#fff;border-color:#575757}
.header-container.type12 .menu.side-menu>li.menu-static-width>a:after,.header-container.type12 .menu.side-menu>li.menu-item-has-children>a:after,.header-container.type12 .menu.side-menu>li.menu-item-has-children li.menu-item-has-children>a:after,.header-container.type12 .menu.side-menu>li.menu-full-width>a:after{color:#fff}
.header-container.type12 .top-links-area{float:none;text-align:left;margin-bottom:20px}
.header-container.type12 .links{float:none;padding:0 7px}
.header-container.type12 .links li{display:block;padding:0;border:0;padding:10px 5px;border-top:1px solid #575757}
.header-container.type12 .links li:first-child{border-top:0}
.header-container.type12 .links li a{color:#fff}
.header-container.type12 .header .custom-block{position:absolute;width:100%;bottom:0;left:0;padding:20px 10px}
.header-container.type12 .social-icons{float:none}
.header-container.type12 address{display:block;text-align:center;font-size:12px;color:#777}
@media (max-width:991px) {
.header-container.type12,.header-container.type12.fixed-bottom{position:relative;left:0;top:0;min-height:0;width:auto}
.header-container.type12 .header{text-align:left;padding:0 7px}
.header-container.type12 .switcher-area{text-align:left}
.header-container.type12 .switcher-area .mini-cart{float:right}
.header-container.type12 .header>.logo{margin:15px 0 20px;float:left}
.header-container.type12 .menu-icon{display:inline-block;height:auto;padding:0;width:25px}
.header-container.type12 .menu-icon a{color:#fff;line-height:25px}
.header-container.type12 .search-area{display:inline-block;width:auto;height:auto;margin:0}
.header-container.type12 .search-area a.search-icon{display:block;color:#fff;line-height:25px}
.header-container.type12 .header #search_mini_form{display:none;position:absolute;width:280px;right:-100px;top:30px}
.header-container.type12 .header .custom-block{display:none}
.header-container.type12 .top-links-area{display:inline-block;margin:0}
.header-container.type12 .top-links-area .top-links-icon{display:block}
.header-container.type12 .top-links-area .top-links-icon a{color:#fff}
.header-container.type12 .top-links-area .links{display:none;position:absolute;background-color:#fff;width:100px;box-shadow:0 1px 2px rgba(0,0,0,0.2);border-radius:3px;padding:5px 7px;left:0}
.header-container.type12 .top-links-area .links li{padding:0;border:0}
.header-container.type12 .top-links-area .links li a{color:#777}
.header-container.type12 .mobile-group{float:right;margin-top:25px;margin-right:5px}
.header-container.type12 .mobile-nav.side-block .sw-mobile-menu li>a{color:#fff}
.header-container.type12 .mobile-nav.side-block .sw-mobile-menu li .open-child{color:#fff}
.header-container.type12 .mini-cart .topCartContent{left:auto;right:0}
.header-container.type12 .mini-cart .topCartContent:before{left:auto;right:15px}
}
